@import "tailwindcss";

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 215.4 16.3% 90%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 88 64% 62%;
    --primary-hover: 88 64% 42%;
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 88 64% 62%;
    --accent-foreground: 210 40% 96.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 88 64% 62%; /* #B4F481 */

    --radius: 0.5rem;

    /* Custom Application Colors */
    --app-bg-primary: 0 0% 100%;
    --app-bg-secondary: 210 40% 98%;
    --app-sidebar: 0 0% 100%;
    --app-sidebar-hover: 210 40% 96.1%;
    --app-sidebar-active: 88 64% 62%; /* #B4F481 */
    --app-text-primary: 222.2 84% 4.9%;
    --app-text-secondary: 215.4 16.3% 46.9%;
    --app-border: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 216, 75%, 18%;
    --foreground: 210 40% 98%;

    --card: 215 59% 16%;
    --card-foreground: 210 40% 98%;

    --popover: 215 59% 16%;
    --popover-foreground: 210 40% 98%;

    --primary: 88 64% 62%;
    --primary-hover: 88 64% 42%;
    --primary-foreground: 217 91% 10%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 88 64% 62%;
    --accent-foreground: 217 91% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 88 64% 62%;

    --app-bg-primary: 217 91% 10%;
    --app-bg-secondary: 215 59% 16%;
    --app-sidebar: 215 59% 16%;
    --app-sidebar-hover: 217.2 32.6% 17.5%;
    --app-sidebar-active: 88 64% 62%;
    --app-text-primary: 210 40% 98%;
    --app-text-secondary: 215 20.2% 65.1%;
    --app-border: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }
}
