@import "tailwindcss";

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 11.9%;
    --card-hover: 209, 68%, 53%;
    --foreground-dark: 222.2 84% 97%;
    --nav-background: 220, 65%, 21%;
    --nav-foreground: 222.2 84% 98%;

    --card: 215.4 16.3% 97%;
    --card-foreground: 222.2 84% 4.9%;

    --card-accent: 215.4 16.3% 95%;
    --foreground-accent: 222.2 84% 4.9%;
    --foreground-clear: 224, 53%, 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221, 75%, 30%;
    --primary-hover: 217, 75%, 15%;
    --primary-foreground: 222.2 84% 4.9%;

    --green: 88 64% 35%;
    --dark-green: 108 64% 25%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 88 64% 62%;
    --accent-foreground: 210 40% 96.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-hover: 0 84.2% 40.2%;

    --edit: 231, 50%, 81%;
    --edit-foreground: 232, 20%, 30%;
    --edit-hover: 231, 50%, 61%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 88 64% 62%; /* #B4F481 */

    --radius: 0.5rem;

    /* Custom Application Colors */
    --app-bg-primary: 0 0% 100%;
    --app-bg-secondary: 210 40% 98%;
    --app-sidebar: 0 0% 100%;
    --app-sidebar-hover: 210 40% 96.1%;
    --app-sidebar-active: 88 64% 62%; /* #B4F481 */
    --app-text-primary: 222.2 84% 4.9%;
    --app-text-secondary: 215.4 16.3% 46.9%;
    --app-border: 217.2 32.6% 17.5%;
  }

  .dark {
    --background: 220, 65%, 11%;
    --foreground: 209, 91%, 95%;
    --foreground-dark: 209, 91%, 95%;
    --nav-background: 220, 65%, 21%;

    --card: 208, 96%, 30%;
    --card-foreground: 223, 82%, 89%;
    --card-hover: 213, 43%, 56%;

    --card-accent: 217, 75%, 20%;
    --foreground-accent: 223, 82%, 89%;
    --foreground-clear: 224, 53%, 100%;

    --popover: 209, 91%, 75%;
    --popover-foreground: 224, 53%, 26%;

    --primary: 221, 75%, 20%;
    --primary-hover: 217, 75%, 10%;
    --primary-foreground: 209, 91%, 75%;

    --green: 88 64% 50%;
    --dark-green: 108 64% 45%;

    --secondary: 224, 53%, 26%;
    --secondary-foreground: 224, 53%, 100%;

    --muted: 217, 33%, 73%;
    --muted-foreground: 217, 37%, 58%;

    --accent: 221, 75%, 20%;
    --accent-foreground: 224, 53%, 26%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 5, 100%, 86%;
    --destructive-hover: 0 84.2% 40.2%;

    --edit: 231, 50%, 41%;
    --edit-foreground: 232, 20%, 90%;
    --edit-hover: 231, 50%, 31%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 221, 75%, 20%;

    --app-bg-primary: 217 91% 10%;
    --app-bg-secondary: 215 59% 16%;
    --app-sidebar: 215 59% 16%;
    --app-sidebar-hover: 217.2 32.6% 17.5%;
    --app-sidebar-active: 88 64% 62%;
    --app-text-primary: 210 40% 98%;
    --app-text-secondary: 215 20.2% 65.1%;
    --app-border: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }
}

button {
  cursor: pointer;
}
